# Reset the auto-include from setuptools_scm
exclude *
prune *

# Re-include files which setuptools auto-includes
include MANIFEST.in pyproject.toml README.md setup.py
graft *.egg-info

# Include the module
graft zipfile_deflate64

